/* General Styles */
body {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #03033f;
  padding: 30px 20px;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 95vh; /* Limit container height for smaller screens */
  background-image: url('image.jpg'); /* Add your image path here */
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pomodoro-count {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 1.2rem;
}

.timer-container1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Enhanced Button Styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(45deg, #6bb06b, #52a1cf);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Specific Button Colors */
#startbtn {
  background: linear-gradient(132deg, rgb(224, 235, 213) 0.00%, rgb(37, 148, 141) 100.00%);
}

#pausebtn {
  background: linear-gradient(132deg, rgb(249, 202, 120) 0.00%, rgb(212, 206, 169) 50.00%, rgb(172, 192, 191) 100.00%);
}

#resetbtn {
  background: linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 100.00%);
}

/* Progress Bar */
.progressbar {
  height: 180px;
  width: 180px;
  background: conic-gradient(crimson 0deg, rgb(243, 72, 109) 0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.progressbar-inner {
  height: 90%;
  width: 90%;
  background: #03033f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar-number {
  color: #ffffff;
  font-weight: 900;
  font-size: 2rem;
}

.function-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.function-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.todo-container, .notes-container {
  width: 80%;
  margin-bottom: 20px;
}

.todo-container h2, .notes-container h2 {
  margin-bottom: 10px;
}

/* Input Containers */
.todo-input-container {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.todo-input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  margin-right: 5px; /* Add some margin to separate input from button */
}

.todo-input-container input::placeholder {
  color: #cccccc; /* Placeholder color to ensure visibility */
}

.todo-input-container button {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(45deg, #48b4f3, #0056b3);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.todo-input-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notes-input-container {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.notes-input-container textarea {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  margin-right: 5px; /* Add some margin to separate input from button */
  resize: none; /* Prevent resizing */
  font-family: Arial, Helvetica, sans-serif;
}

.notes-input-container textarea::placeholder {
  color: #cccccc; /* Placeholder color to ensure visibility */
}

.notes-input-container button {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(45deg, #48b4f3, #0056b3);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.notes-input-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li button {
  margin-left: 10px;
  background: linear-gradient(45deg, #db2a34, #b81d2b);
  border: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

ul li button:hover {
  transform: scale(1.1);
}

/*Sticky-Notes*/
.sticky-note {
  position: relative;
  display: inline-block;
  background-color: #ffeb3b;
  color: #000000;
  padding: 15px; /* Increase padding to provide space for the remove button */
  margin: 18px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  max-width: 300px; /* Limit maximum width to prevent excessive stretching */
  word-wrap: break-word; /* Ensure long content wraps within the sticky note */
  overflow: hidden; /* Hide overflow content if any */
  line-height: 1.4; /* Increase line height to separate content from edges */
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #db2a34; /* Red background color */
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure remove button is above the sticky note */
  transition: background-color 0.3s, transform 0.3s;
}

/* Adjust remove button size and position for smaller screens */
@media (max-width: 480px) {
  .remove-btn {
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .timer-container button,
  .function-buttons button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .progressbar-number {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }

  .timer-container {
    flex-direction: column;
    gap: 10px;
  }

  .timer-container button {
    width: 100%;
  }

  .timer-container1 {
    justify-content: space-around;
    gap: 10px;
  }

  .timer-container1 button {
    width: 100%;
  }

  .function-buttons {
    justify-content: space-around;
    gap: 10px;
  }

  .progressbar {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
  }

  .progressbar-number {
    font-size: 1.2rem;
  }

  #startbtn,
  #pausebtn,
  #resetbtn {
    width: 100%;
  }

  .todo-input-container input,
  .todo-input-container button,
  .notes-input-container textarea,
  .notes-input-container button {
    padding: 8px;
    font-size: 12px;
  }
}

/* Extra small screen adjustments */
@media (max-width: 320px) {
  .todo-input-container,
  .notes-input-container {
    flex-direction: column;
  }

  .todo-input-container input,
  .notes-input-container textarea {
    margin-right: 0;
    margin-bottom: 5px; /* Separate input from button on small screens */
  }

  .todo-input-container button,
  .notes-input-container button {
    width: 100%;
  }
}
